@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.falling-text {
  animation: fall 0.5s ease forwards;
}

.falling-text2 {
  animation: fall 1s ease forwards;
}



.rising-element {
  animation: rise 1s ease forwards;
  /* Use the animation */
}




body {
  height: 100%;
  width: 100%;
  overflow: auto;
  /* background: rgb(10, 31, 41); */
  /* background: rgb(9,50,59); */
  background: linear-gradient(45deg, rgb(8, 21, 42) 38.5%, rgb(0, 69, 90) 40.5%, rgb(8, 21, 42) 43%);
  /* background: #09192b; */
  animation: gradient 8s ease;
  background-size: 401% 400%;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 1px; 
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563; 
  border-radius: 3px; 
}

::-webkit-scrollbar-track {
  background-color: #cbd5e0; 
}
